<div class="card flex justify-start p-2 bg-gray-900">
  <p-drawer [(visible)]="visible" [style]="{ width: '280px' }" position="left" [blockScroll]="true">
    <!-- En-tête sympa -->
    <div class="p-4 text-white border-b-white border-b">
      <h3 class="text-xl font-medium mb-1">Hello !</h3>
      <p class="text-sm text-gray-300">Bon retour parmi nous !</p>
    </div>

    <div class="p-3">
      <ul class="space-y-2">
        @for (item of navbarItem; track item) {
          <li>
            <a
              [routerLink]="[item.link]"
              routerLinkActive="bg-indigo-50 text-indigo-600"
              class="flex items-center gap-3 p-2 rounded-md text-gray-200 hover:bg-gray-800 transition-colors"
            >
              <i class="pi {{ item.icon }} text-signacore"></i>
              <span>{{ item.title }}</span>
            </a>
          </li>
        }
      </ul>
    </div>

    <!-- Petit footer -->
    <div class="absolute bottom-0 left-0 right-0 p-3 space-y-3">
      @if (authService.hasRole('ROLE_ADMIN')) {
        <button
          routerLink="/administration/dashboard"
          pButton
          severity="info"
          class="w-full flex items-center justify-center gap-2 p-2 text-gray-600 hover:bg-gray-100 rounded-md transition-colors"
        >
          <i class="pi pi-prime"></i>
          <span>Administration</span>
        </button>
      }
      <button
        routerLink="/utilisateur/informations"
        pButton
        class="w-full flex items-center justify-center gap-2 p-2 text-gray-600 hover:bg-gray-100 rounded-md transition-colors"
      >
        <i class="pi pi-user"></i>
        <span>Mes informations</span>
      </button>
      <button
        (click)="deconnexion()"
        pButton
        severity="secondary"
        class="w-full flex items-center justify-center gap-2 p-2 text-gray-600 hover:bg-gray-100 rounded-md transition-colors"
      >
        <i class="pi pi-sign-out"></i>
        <span>Déconnexion</span>
      </button>
    </div>
  </p-drawer>

  <p-button (click)="visible = true" icon="pi pi-align-justify" severity="secondary" />
</div>
