<div class="bg-gray-900 p-6 rounded-lg shadow-lg max-w-3xl mx-auto">
  <h2 class="text-2xl font-bold text-white mb-6 border-b border-gray-700 pb-2">
    Création de contrat
  </h2>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="space-y-6">
    <div class="mb-4">
      <label class="block text-gray-400 mb-2 text-sm font-medium">Site web</label>
      <p-select
        [options]="getWebsite()"
        formControlName="uuidWebsite"
        optionValue="value"
        optionLabel="name"
        placeholder="Sélectionner un site web"
        class="w-full"
      />
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <label class="block text-gray-400 mb-2 text-sm font-medium">Récurrence</label>
        <p-select
          [options]="reccurence"
          formControlName="reccurence"
          optionValue="value"
          optionLabel="name"
          placeholder="Sélectionner une récurrence"
          class="w-full"
        />
      </div>

      <div>
        <label class="block text-gray-400 mb-2 text-sm font-medium">Premier paiement</label>
        <p-datePicker
          dateFormat="yy.mm.dd"
          formControlName="firstPaymentAt"
          class="w-full"
          [showIcon]="true"
        />
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="w-full">
        <p-iftalabel class="w-full block">
          <input pInputText id="prestation" formControlName="prestation" class="w-full" />
          <label for="prestation">Prestation</label>
        </p-iftalabel>
      </div>

      <div class="w-full">
        <p-iftalabel class="w-full block">
          <input pInputText id="annual" formControlName="monthlyCost" class="w-full" />
          <label for="annual">Prix mensuel</label>
        </p-iftalabel>
      </div>
    </div>

    <div class="mb-4">
      <label class="block text-gray-400 mb-2 text-sm font-medium">TVA applicable</label>
      <p-select
        [options]="tva"
        optionValue="value"
        formControlName="tva"
        optionLabel="name"
        placeholder="Sélectionner un taux de TVA"
        class="w-full"
      />
    </div>

    <div class="flex justify-end pt-4 border-t border-gray-700">
      <p-button
        label="Créer un contrat"
        type="submit"
        icon="pi pi-check"
        iconPos="right"
        styleClass="bg-blue-600 hover:bg-blue-700 rounded-lg px-6"
      />
    </div>
  </form>
</div>
