<section class="min-h-dvh bg-gray-900">
  <div class="bg-gray-800 p-6 rounded-xl mt-2">
    <!-- En-tête avec statistiques générales -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-6">
      <!-- Carte 1: Nombre de paiements -->
      <div
        class="bg-gray-800 p-5 rounded-xl shadow-sm flex items-center space-x-4 border-l-4 border-blue-600"
      >
        <div class="w-12 h-12 bg-blue-900/40 rounded-full flex items-center justify-center">
          <i class="pi pi-wallet text-blue-400 text-xl"></i>
        </div>
        <div>
          <p class="text-gray-400 text-sm">Nombre de paiements</p>
          <p class="text-2xl font-bold text-white">{{ countTransactions() }}</p>
        </div>
      </div>

      <!-- Carte 2: Montant du dernier paiement -->
      <div
        class="bg-gray-800 p-5 rounded-xl shadow-sm flex items-center space-x-4 border-l-4 border-green-600"
      >
        <div class="w-12 h-12 bg-green-900/40 rounded-full flex items-center justify-center">
          <i class="pi pi-euro text-green-400 text-xl"></i>
        </div>
        <div>
          <p class="text-gray-400 text-sm">Dernier paiement</p>
          <p class="text-2xl font-bold text-white">
            {{getLastTransaction() ?  parseInt(getLastTransaction().amount).toFixed(2) + "€" : "Aucun" }}
          </p>
        </div>
      </div>

      <!-- Carte 3: Date du dernier paiement -->
      <div
        class="bg-gray-800 p-5 rounded-xl shadow-sm flex items-center space-x-4 border-l-4 border-purple-600"
      >
        <div class="w-12 h-12 bg-purple-900/40 rounded-full flex items-center justify-center">
          <i class="pi pi-calendar text-purple-400 text-xl"></i>
        </div>
        <div>
          <p class="text-gray-400 text-sm">Date dernier paiement</p>
          <p class="text-xl font-semibold text-white">{{ getLastTransaction()?.createdAt ? getLastTransaction()?.createdAt : "Non établie" }}</p>
        </div>
      </div>
    </div>

    <!-- Titre de la section des transactions -->
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-bold text-white">Historique des paiements</h2>
    </div>

    <!-- Liste des transactions en style Bento -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
      <app-user-transaction-display></app-user-transaction-display>
    </div>
  </div>
</section>

