<form class="max-w-3xl mx-auto space-y-4 py-2" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <!-- Ancien mot de passe -->
  <div class="card p-3 bg-transparent border border-gray-200 rounded-lg">
    <p-iftalabel class="w-full">
      <p-iconfield class="w-full">
        <p-inputicon class="pi pi-lock text-gray-500" />
        <p-password id="oldPassword"
                    formControlName="oldPassword"
                    [toggleMask]="true"
                    autocomplete="off"
                    styleClass="w-full"
                    inputStyleClass="w-full"
                    [style]="{'width': '100%'}"
                    [feedback]="false"
        />
      </p-iconfield>
      <label for="oldPassword" class="text-gray-600">Mot de passe actuel</label>
    </p-iftalabel>
  </div>

  <!-- Nouveau mot de passe -->
  <div class="card p-3 bg-transparent border border-gray-200 rounded-lg">
    <p-iftalabel class="w-full">
      <p-iconfield class="w-full">
        <p-inputicon class="pi pi-key text-gray-500" />
        <p-password id="newPassword"
                    formControlName="newPassword"
                    [toggleMask]="true"
                    autocomplete="off"
                    styleClass="w-full"
                    inputStyleClass="w-full"
                    [style]="{'width': '100%'}"
                    mediumLabel="Moyen"
                    strongLabel="Fort"
                    weakLabel="Faible"
                    promptLabel="Force du mot de passe"/>
      </p-iconfield>
      <label for="newPassword" class="text-gray-600">Nouveau mot de passe</label>
    </p-iftalabel>
    <small *ngIf="!isPasswordDifferent" class="text-red-500">Le mot de passe ne doit pas être le même que l'ancien</small>
  </div>

  <!-- Confirmation du nouveau mot de passe -->
  <div class="card p-3 bg-transparent border border-gray-200 rounded-lg">
    <p-iftalabel class="w-full">
      <p-iconfield class="w-full">
        <p-inputicon class="pi pi-check-circle text-gray-500" />
        <p-password id="confirmationNewPassword"
                    formControlName="confirmationNewPassword"
                    [toggleMask]="true"
                    autocomplete="off"
                    styleClass="w-full"
                    inputStyleClass="w-full"
                    [style]="{'width': '100%'}"
                    [feedback]="false"
        />
      </p-iconfield>
      <label for="confirmationNewPassword" class="text-gray-600">Confirmation du nouveau mot de passe</label>
    </p-iftalabel>
  </div>

  <!-- Confirmation du changement -->
    <div class="flex items-center">
      <p-checkbox formControlName="isUserSureToChangePassword" [binary]="true" inputId="isUserSureToChangePassword" />
      <label for="isUserSureToChangePassword" class="ml-2 text-gray-200">Je confirme vouloir changer mon mot de passe</label>
    </div>

  <!-- Bouton d'action -->
  <div class="flex justify-end gap-4 mt-6">
    <p-button type="submit" label="Enregistrer" icon="pi pi-check" [loading]="isLoading" [disabled]="isLoading || !this.formGroup.get('isUserSureToChangePassword')?.value || !isPasswordDifferent"></p-button>
  </div>
</form>
