<div class="bg-gray-900 p-6 rounded-lg shadow-lg max-w-2xl mx-auto">
  <form [formGroup]="formGroupe" (ngSubmit)="onSubmit()" class="space-y-6">
    <h2 class="text-2xl font-bold text-white mb-6 border-b border-gray-700 pb-2">Nouveau site web</h2>

    <div class="mb-4">
      <label class="block text-gray-400 mb-2 text-sm font-medium">Utilisateur</label>
      <div class="w-full">
        <p-select
          [options]="getUsers()"
          formControlName="uuidUser"
          optionValue="value"
          optionLabel="name"
          placeholder="Selectionner un utilisateur"
          class="w-full"
        />
      </div>
    </div>

    <div class="mb-4">
      <label class="block text-gray-400 mb-2 text-sm font-medium">Type de serveur</label>
      <div class="w-full">
        <p-select
          [options]="websiteType"
          formControlName="type"
          optionValue="value"
          optionLabel="name"
          placeholder="Selectionner un type de serveur"
          class="w-full"
        />
      </div>
    </div>

    <div class="mb-4">
      <label class="block text-gray-400 mb-2 text-sm font-medium">Statut</label>
      <div class="w-full">
        <p-select
          [options]="websiteStatus"
          formControlName="status"
          optionValue="value"
          optionLabel="name"
          placeholder="Selectionner un status"
          class="w-full"
        />
      </div>
    </div>

    <div class="mb-4">
      <div class="w-full">
        <p-iftalabel class="w-full block">
          <input
            pInputText
            id="title"
            formControlName="title"
            autocomplete="off"
            class="w-full"
          />
          <label for="title">Titre</label>
        </p-iftalabel>
      </div>
    </div>

    <div class="mb-4">
      <div class="w-full">
        <p-iftalabel class="w-full block">
          <input
            pInputText
            id="description"
            formControlName="description"
            autocomplete="off"
            class="w-full"
          />
          <label for="description">Description</label>
        </p-iftalabel>
      </div>
    </div>

    <div class="mb-6">
      <div class="w-full">
        <p-iftalabel class="w-full block">
          <input
            pInputText
            id="url"
            formControlName="url"
            autocomplete="off"
            class="w-full"
          />
          <label for="url">URL du site web</label>
        </p-iftalabel>
      </div>
    </div>

    <div class="flex justify-end pt-4">
      <p-button
        label="Validé"
        severity="contrast"
        variant="outlined"
        type="submit"
        class="bg-blue-600 hover:bg-blue-700 rounded-lg transition-colors"
      />
    </div>
  </form>
</div>
