<form
  [formGroup]="formGroup"
  class="flex flex-col md:flex-row gap-6 p-6 mt-2 bg-gray-800 rounded-xl shadow-lg border border-gray-700"
>
  <div class="flex flex-col gap-2">
    <label class="text-sm font-medium text-gray-300 flex items-center">
      <i class="pi pi-user text-indigo-400 mr-2"></i>
      Utilisateur
    </label>
    <p-select
      [options]="getUsers()"
      formControlName="uuidUser"
      optionValue="value"
      optionLabel="name"
      placeholder="Sélectionner un utilisateur"
      class="w-full md:w-64"
    />
  </div>

  <div class="flex flex-col gap-2">
    <label class="text-sm font-medium text-gray-300 flex items-center">
      <i class="pi pi-file-contract text-indigo-400 mr-2"></i>
      Contrat
    </label>
    <p-select
      [options]="getContract()"
      formControlName="uuidWebsiteContract"
      optionValue="value"
      optionLabel="name"
      placeholder="Sélectionner un contrat"
      class="w-full md:w-64"
    />
  </div>

  <div class="flex items-end">
    <p-button
      label="Créer la transaction"
      icon="pi pi-plus"
      styleClass="p-button-info p-button-rounded"
      (click)="onSubmit()"
    />
  </div>
</form>
